h1{
    background-color: rgb(87, 142, 160);
    font-family: "Lucida Console", Monaco, sans-serif;
    font-weight: bold;
    color: rgb(209, 225, 239)
}

h2{
    background-color: rgb(87, 142, 160);
    font-family: "Lucida Console", Monaco, sans-serif;
    font-weight: bold;
    color: rgb(209, 225, 239)  
}

h3{
    background-color: rgb(87, 142, 160);
    font-family: "Lucida Console", Monaco, sans-serif;
    font-weight: bold;
    color: rgb(209, 225, 239)  
}

p, ul, ol{
    font-family: "Lucida Console", Monaco, sans-serif;
}